In [1]:
"""
76.  write a class program to demonstrate method overloading in python using below scenario.
 	Write a class and constructor to create an instances like below
	a. p1 = person(id=1,name=”ashok”,age=23,sal=56787)
            b. p2 = person(id=2,age=24,adhar=23456)
	c. p3 = person(id=4,pan=”brcp3456”,sal=23,age=45)
"""

'\n76.  write a class program to demonstrate method overloading in python using below scenario.\n \tWrite a class and constructor to create an instances like below\n\ta. p1 = person(id=1,name=\xe2\x80\x9dashok\xe2\x80\x9d,age=23,sal=56787)\n            b. p2 = person(id=2,age=24,adhar=23456)\n\tc. p3 = person(id=4,pan=\xe2\x80\x9dbrcp3456\xe2\x80\x9d,sal=23,age=45)\n'

In [3]:
class person:
    def __init__(self,**kwargs):
        self.data = kwargs
    def get_info(self):
        return self.data
p1 = person(id=1,name='ashok',age=23,sal=56787)
p2 = person(id=2,age=24,adhar=23456)
p3 = person(id=4,pan='brcp3456',sal=23,age=45)

In [5]:
p1.get_info()

{'age': 23, 'id': 1, 'name': 'ashok', 'sal': 56787}

In [6]:
import pandas as pd

In [7]:
pd.read_csv?

In [14]:
class person:
    def __init__(self, id1=0, name="", age=0, sal=0.0, pan="", adhar=""):
        '''
        keys for the kwargs are: id, name, age, sal, adhar, pan
        
        '''
        self.id1 = id1
        self.name = name
        self.age=age
        self.sal=sal
        self.pan=pan
        self.adhar=adhar
    def get_info(self):
        return self.name, self.id1, self.age, self.sal, self.pan, self.adhar
p1 = person(id1=1,name='ashok',age=23,sal=56787)
p2 = person(id1=2,age=24,adhar=23456)
p3 = person(id1=4,pan='brcp3456',sal=23,age=45)

In [15]:
print p1.get_info()
print p2.get_info()
print p3.get_info()

('ashok', 1, 23, 56787, '', '')
('', 2, 24, 0.0, '', 23456)
('', 4, 45, 23, 'brcp3456', '')

In [16]:
for i in "1234":
    print i

1
2
3
4

In [17]:
for i in 1234:
    print i

TypeError: 'int' object is not iterable

In [18]:
for i in p1:
    print i

TypeError: iteration over non-sequence

In [20]:
class person:
    def __init__(self,**kwargs):
        self.data = kwargs
    def get_info(self):
        return self.data
    def __iter__(self):
        return self.age
p1 = person(id=1,name='ashok',age=23,sal=56787)
p2 = person(id=2,age=24,adhar=23456)
p3 = person(id=4,pan='brcp3456',sal=23,age=45)
for i in p1:
    print i

AttributeError: person instance has no attribute 'age'

In [30]:
class person:
    def __init__(self, id1=0, name="", age=0, sal=0.0, pan="", adhar=""):
        '''
        keys for the kwargs are: id, name, age, sal, adhar, pan
        
        '''
        self.id1 = id1
        self.name = name
        self.age=age
        self.sal=sal
        self.pan=pan
        self.adhar=adhar
    def get_info(self):
        return self.name, self.id1, self.age, self.sal, self.pan, self.adhar
    def __iter__(self):
        yield self.age
        yield self.name
        yield self.sal
        
p1 = person(id1=1,name='ashok',age=23,sal=56787)
p2 = person(id1=2,age=24,adhar=23456)
p3 = person(id1=4,pan='brcp3456',sal=23,age=45)
for i in p1:
    print i

23
ashok
56787

In [31]:
def fun():
    return 10
    return 20

In [32]:
a=fun()
print a

10

In [33]:
a=fun()
print a

10

In [34]:
def fun():
    print "function st1"
    return 10
    print "function st2" 
    return 20
    print "fun st3"
a=fun()
print a

function st1
10

In [37]:
a=fun()

In [38]:
def fun():
    print "function st1"
    yield 10
    print "function st2" 
    yield 20
    print "fun st3"
a=fun()

In [39]:
a.next()

function st1

10

In [40]:
a.next()

function st2

20

In [41]:
a.next()

fun st3

StopIteration:

In [47]:
class person:
    def __init__(self, id1=0, name="", age=0, sal=0.0, pan="", adhar=""):
        '''
        keys for the kwargs are: id, name, age, sal, adhar, pan
        
        '''
        self.id1 = id1
        self.name = name
        self.age=age
        self.sal=sal
        self.pan=pan
        self.adhar=adhar
    def get_info(self):
        return self.name, self.id1, self.age, self.sal, self.pan, self.adhar
    def __iter__(self):
        yield self.age
        yield self.name
        yield self.sal
    def __add__(self1,self2):
        res = {}
        res.update({'name':self1.name+self2.name})
        res.update({'id':self1.id1+self2.id1})
        return res
        
p1 = person(id1=1,name='ashok',age=23,sal=56787)
p2 = person(id1=2,age=24,adhar=23456)
p3 = person(id1=4,pan='brcp3456',sal=23,age=45)
for i in p1:
    print i
print p1+p2

23
ashok
56787
{'name': 'ashok', 'id': 3}

In [ ]:
class DB:
    def conect(self):
        pass
    def insert(self):
        pass
class Model(DB):
    def create(self):
        
class person(Model):

In [49]:
data = open('assignments.txt','r').read()

In [50]:
data

'\xef\xbb\xbf1. write a program to findout \n2. write a program to chek given substring is there in actual string or not? (search should be case insensitive)\n3. take a number from the user and check whether even or odd\n4. take a number from the user and check whether it is prime?\n5. take a string from the user and check contains only digits or not?\n6. take a string from the user and check contains only  alphabets or not?\n7. take a string from the user and check contains only  special chars or not?\n8. take a string from the user and check contains only  capiatl letters or not?\n9. take a string from the user and check contains only  small letters or not?\n10. Show the below menu to the user until and until user select quit and display corresponding os message\n\n\'\'\'\nMenu:\n1. windows\n2. Linux\n3. Mac\n4. quit\n\'\'\'\n\n11. take a string from the user and check contains atleast one digit or not?\n12. take a string from the user and check contains atleast one alphabets or not?\n13. take a string from the user and check contains atleast one chars or not?\n14. take a string from the user and check contains atleast one capital letter or not?\n15. take a string from the user and check contains atleast one small letter or not?\n16. Take the input from the user for(Total number of people, toatl number of busses, Number of seats for bus). Based on the input\n\tDeside whether there is sufficient busses or not and give solution for how many extra busses required.\n17. Print the first 100 odd numbers\n18. Determine the factors of a number entered  by the user\n19. Play a number guessing game (User enters a guess, you print YES or Higher or Lower)\n20. Take two numbers from the user a,b check whether a is divisible by b or not?\n21. Given an age, figure out whether someone\'s a baby, toddler, child, teenager, adult or old codger.\n22. Find the sum of all the multiples of 3 or 5 below 1000\n\n23. Write a program to findout big of two numbers\n24. Write a program to findout biggest number in the given numbers.\n25. findout third occurance of given substring\n26. findout nth occurance of given substring\n27. Taake some single digit numbers from the user and findout min, maximum, sum, average\n28. WAP> 10 -> 000010\n       100 ->  000100\n      1000 ->  001000\n  2345678  ->  2345678\n29. names  ="emp1,emp2,emp3,emp4" iterate through the employee names.\n30. Take actuual string, soucrce string, destination string. replce first nth occurances of soucestring with destination string of actual string\n31. Taake numbers from the user and findout min, maximum, sum, average\n32. l=[10,20,30,[40,50,60],70,[80,90,20]]. Convert this list as sigle dimentiona list\n33. input: "google" print count of each character \n34. Convert n dimentional list to single dimentiona list.\n35. l=[1,2,3] just make it as a string.\n36. l=[1,2,3,[4,5,6],7,[8,9,10]] for single dimentional list\n37. l=[\'a\',\'A\',\'b\',\'B\',\'d\',\'D\',\'c\',\'C\'] WAP to find out case insensitive count and case insensitive search for an element.\n38. l=[\'a\',\'A\',\'b\',\'B\',\'d\',\'D\',\'c\',\'C\']  sort the list properly\n39. find the start position of the largest block of repeated characters in a given string\n40. WAP to find union and intersection of lists.\n41. input: fun(5) output: [1,2,3,4,3,2,1]\n42.input fun(\'abc\') output: [[],][a],[b],[c],[a,b],[b,c],[c,a],[a,b,c]]\n43. Remove duplicates from the list: a=[1,2,3,2,3,4,1,,3,4]\n44. l=[\'1\',\'2\',\'3\'] get the sum of the list\n45. l1=[1,2,3,4] l2=[5,6,7,8] sum of two lists\n46. Find third max value of element in a list with soring and without sorting a list.\n47. Input = ["1/1","1/2","1/3","1/4","2/5","2/6","2/8"] Output = [[\'1/1-4\'], [\'2/5-6\'], [\'2/8\']]\n48. l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4] output = [[1, 2, 3], [5], [7, 8, 9, 10, 11, 12, 13], [20], [22, 23, 24, 25, 26, 27], [20, 21, 22], [4]]\n49. input = 1,2,3,4,5,6,8,10 output = odd,even,odd,even,odd,even,even,even\n50. input n=3 \n    output: \t111\n\t\t101\n\t\t111\n51. input: google\n\toutput: {\'g\':2,\'o\':2,\'l\':1,\'e\':1} use dictionary comprehension\n52. keys=[\'k1\',\'k2\'], values = [\'v1\',\'v2\'] form a dictionary.\n53. Sort the list marks = [("mohan", 80), ("satish", 90), ("purnesh", 40), ("venkat", 30)] acording to descending order of marks\n54. write a function to get dynamic list for floating numbers also based on strat and end and step parameters\n55. find out all perfect numbers in given range\n56. WAP to do all stack operations using lists\n57. WAP to do all queue operations using lists\n58. WAP to remove n occurances of specified element from a list\n59. copy 1 file content in to another file(Take the source and destination file path from the user)\n60. Show the below menu to the user:\n     1. Add a row\n     2. modify a row\n     3. delete a row\n     Go with one unique field in the file. And maintain that unique constraint in all file modifiction operations\n     Use .CSV file for this program\n\n61. number of lines, words, characters\n62. convert .txt file in .json\n63. Take three columns disease, symptoms, advice in a file and fill the details\n\tAsk the user to enter symptoms. Based on this symptoms Suggest the user to what disease it may be and few advices.\n64. Take employees info (id,name, age, adress, sal, height, weight)\n\ta. Take id, provide employee information for that id.\n\tb. find out average salary.\n\tc. find out which age, address taking the heighest salary \n\td. find out every employee BMI value\n\te. Finally find out the Organization overall BMI\n65.read the file which contains the size greater than your ram size\n66. Read ten gb movie\n67. Collect emp information in a file Provide these operations.\n    \n    Menu:\n     1. Get information information of an employee\n     2. Modify employee information\n     3. delete an employee information (Only status field change in the employee file)\n     4. Add an employee.\n68. Take Source and destination file paths from command line arguments and copy the sourcontent into destination.\n    Make Sure that your program checking the below conditions.\n     1.if the source file not there. Should ask the user to enter new source file or want to quit a program\n     2.if the destination file already there in the specified path. Should warn the user want to proceed or want to enter new destination file name or want to quit\n\n69. Bulk file copy. \n     Take source and destination file paths from a file and copy the source file content into destination file.\n     Maintain configuration file and put the below fields there\n      Source not found: Skip the copy\n      destination found: skip/replace\n     maintain a remarks log. What are the files skiped from copy because no source file found. What are the files skip/replaced because of destination file foun in the specified path\n     \n     OOPS\n     \n70. Write a class(DB) program to create a table, insert values, update values, delete values of the table. \nAll database operations code write in a file(db_operations.py) and call these operations in another file( app.py).\nIn app.py create instance of the DB class and call all the methods by passing some data.\n\n71. write a program to do registration.\n     Write a methods in a class DB to open database connection and insert details in to database table. \nWrite a Model parent class and implement a create method. Call a database insert method into the create  method. Write child class person for Model and override method create method and call the parent(Model) class create method in the child(person) \ncreate an instance of person class and call the create method.\n\n72. create a user defined datatype, and provide functionalities of addition substraction and multiplication. Create three instances(obj1,obj2,obj3) and print an output of obj1+obj2+obj3, obj1-obj2-obj3, obj1*obj2*obj3  \n\n73. addition, substraction, multiplication operations are not supported by dictionary. Write a program to provide addition, substraction, and  multiplication operations to dictionary. Write your own definition for operations.\n\n74. write a class that can create only one object. IF create one more object then it should written existing object but not new. Create three instances and print id\xe2\x80\x99s of the instances. All the id\xe2\x80\x99s should show same address.\n\n75. implement class method and instance method and static method in a class with an example. Create a instance and call all the methods. Write down what is class method and instance method and static method.\n\n76.  write a class program to demonstrate method overloading in python using below scenario.\n \tWrite a class and constructor to create an instances like below\n\ta. p1 = person(id=1,name=\xe2\x80\x9dashok\xe2\x80\x9d,age=23,sal=56787)\n            b. p2 = person(id=2,age=24,adhar=23456)\n\tc. p3 = person(id=4,pan=\xe2\x80\x9dbrcp3456\xe2\x80\x9d,sal=23,age=45)\t\nmake instance iterable and provide the operation sp1+p2, p1-p2. Give your own definition for the operations\n\n77. Remove duplicates elements of the list withoud using built in keywords and temporary list.\n78. WAP to replace perticular number of substings with a given destination string\n79. WAP top remove substring form the given string without using replace function\n80  WAP to remove perticular element from a given list for all occurancers\n81. take two lists keys, values and form a dictionary\n82. delete more than one key value pair at a time.\n83. find out intersection, union, difference of two list without/with using set\n84. WAP to create, modify, delete, browse lun in xtremeio array using xtremeio api.\n85. WAP to create, modify, delete, browse lun in any array using paramiko module.\n86. WAP to collect all directors from vplex and reboot one director from that using VATS Frame work\n \n'

In [51]:
import sys

In [52]:
sys.maxint

2147483647

In [78]:
columns = ['id','name','age']
import random
rows = []
ages = range(23,60)
for i in range(10):
    row = "{0},name{0},{1}".format(i,random.choice(ages))
    rows.append(row)
rows=map(lambda x:x+"\n",rows)
rows.insert(0,",".join(columns)+"\n")
print rows,
f=open("emp_data.csv",'w')
f.writelines(rows)
f.close()

['id,name,age\n', '0,name0,27\n', '1,name1,38\n', '2,name2,49\n', '3,name3,59\n', '4,name4,55\n', '5,name5,44\n', '6,name6,34\n', '7,name7,27\n', '8,name8,34\n', '9,name9,54\n']

In [62]:
emp_id=2
mod_name = "mod_name2"
mod_age=25
mod_sal=32432543
row = "{0},{1},{2},{3}".format(emp_id,mod_name,mod_age,mod_sal)
total_data = open("emp_data.csv",'r').readlines()

In [63]:
print total_data

['id,name,age\n', '0,name0,33\n', '1,name1,33\n', '2,name2,27\n', '3,name3,23\n', '4,name4,43\n', '5,name5,24\n', '6,name6,43\n', '7,name7,58\n', '8,name8,38\n', '9,name9,42\n']

In [68]:
for row in total_data[1:]:
    if emp_id == int(row.split(',')[0]):
        print row

2,name2,27

In [69]:
print total_data

['id,name,age\n', '0,name0,33\n', '1,name1,33\n', '2,name2,27\n', '3,name3,23\n', '4,name4,43\n', '5,name5,24\n', '6,name6,43\n', '7,name7,58\n', '8,name8,38\n', '9,name9,42\n']

In [79]:
emp_id=3
mod_name = "mod_name2"
mod_age=25
mod_sal=32432543
row = "{0},{1},{2},{3}\n".format(emp_id,mod_name,mod_age,mod_sal)
total_data = open("emp_data.csv",'r').readlines()
print "row=",row
print total_data
for r in total_data[1:]:
    if emp_id == int(r.split(',')[0]):
        req_row =  r
ind = total_data.index(req_row)

total_data[ind] = row
f=open('emp_data.csv','w')
f.writelines(total_data)
f.close()

row= 3,mod_name2,25,32432543

['id,name,age\n', '0,name0,27\n', '1,name1,38\n', '2,name2,49\n', '3,name3,59\n', '4,name4,55\n', '5,name5,44\n', '6,name6,34\n', '7,name7,27\n', '8,name8,34\n', '9,name9,54\n']

In [71]:
req_row

'2,name2,27\n'

In [72]:
ind = total_data.index(req_row)

In [73]:
ind

3

In [83]:
#input fun('abc') output: [[],][a],[b],[c],[a,b],[b,c],[c,a],[a,b,c]]
import itertools

In [85]:
for i in itertools.permutations("avc"):
    print i

('a', 'v', 'c')
('a', 'c', 'v')
('v', 'a', 'c')
('v', 'c', 'a')
('c', 'a', 'v')
('c', 'v', 'a')

In [88]:
l=[1,2,3]

"".join(map(str,l))

'123'

In [92]:
s="asjfkgjtyiyuewn"
sq = sorted(s)

In [93]:
sq

['a', 'e', 'f', 'g', 'i', 'j', 'j', 'k', 'n', 's', 't', 'u', 'w', 'y', 'y']

In [98]:
s="asjfkgjtyiyuewn"
s1=[]
s1.extend(s)
s1.sort()
print "".join(s1)

aefgijjknstuwyy

In [103]:
o1

In [101]:
print o1

<__main__.c1 instance at 0x0000000008B26188>

In [117]:
class c1(object):
    obj=False
    def __init__(self,a,b):
        self.a=a
        self.b=b
        self.obj=True
    def __repr__(self):
        return str([self.a, self.b])
o1=c1(10,20)

In [118]:
if o1:
    print o1

[10, 20]

In [125]:
class emp(object):
    def __new__(cls):
        return None

samba=emp()

In [124]:
print samba

<__main__.emp instance at 0x0000000008B29988>